# Exclude dev-only stuff
src/
scripts/
/tsconfig*.json
/*.ts
/*.tsx
*.test.*
jest.config.*
coverage/
node_modules/
.env
.env.local
.env.development
.env.production
.env.test
!**/.env.example

**/__pycache__/
*.py[cod]

# Ignore IDE/editor junk
.vscode/
.idea/
.DS_Store

# Exclude GitHub and design-only assets
main/assets/            # <- this is just for GitHub banner, not runtime
*.psd
*.fig
main/assets/*.svg
